[submodule "FNA"]
	path = FNA
	url = https://github.com/FNA-XNA/FNA
[submodule "ecslite"]
	path = ecslite
	url = https://github.com/Leopotam/ecslite
[submodule "physfs"]
	path = physfs
	url = https://github.com/icculus/physfs
