[submodule "FNA"]
	path = FNA
	url = https://github.com/FNA-XNA/FNA
[submodule "ecslite"]
	path = ecslite
	url = https://github.com/Leopotam/ecslite
[submodule "PhysFS.NET"]
	path = PhysFS.NET
	url = https://github.com/blazingzephyr/PhysFS.NET
